<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @job.client_id %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
