<%= form_for(@deployment) do |f| %>
  <% if @deployment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>

      <ul>
      <% @deployment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :battery_id %><br>
    <%= f.text_field :battery_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.text_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
